asgiref==3.8.1
cffi==1.17.1
colorama==0.4.6
config==0.5.1
constants==0.6.0
cryptography==44.0.3
dill==0.4.0
Django==5.2
django-cors-headers==4.7.0
llvmlite==0.44.0
mpmath==1.3.0
numba==0.61.2
numpy==2.2.5
opencv-python==4.11.0.86
pbr==6.1.1
pillow==11.2.1
psutil==7.0.0
pycparser==2.22
pydub==0.25.1
python-dateutil==2.9.0.post0
qiskit==2.0.0
qiskit-aer==0.17.0
rustworkx==0.16.0
scipy==1.15.2
six==1.17.0
sqlparse==0.5.3
stevedore==5.4.1
symengine==0.13.0
sympy==1.14.0
typing_extensions==4.13.2
tzdata==2025.2
